@tailwind base;
@tailwind components;
.ticker-shadow {
  -webkit-mask: linear-gradient(90deg, #000 85%, transparent);
  -webkit-mask-image: linear-gradient(90deg, rgb(0, 0, 0) 85%, transparent);
  -webkit-mask-position-x: initial;
  -webkit-mask-position-y: initial;
  -webkit-mask-size: initial;
  -webkit-mask-repeat-x: initial;
  -webkit-mask-repeat-y: initial;
  -webkit-mask-origin: initial;
  -webkit-mask-clip: initial;
  mask: linear-gradient(90deg, #000 85%, transparent);
}
::-webkit-scrollbar {
  @apply w-4;
}
::-webkit-scrollbar-thumb {
  @apply bg-zinc-300 hover:bg-zinc-400 dark:bg-zinc-400 dark:hover:bg-zinc-500 border-4 border-solid border-white dark:border-zinc-950;
}
@tailwind utilities;
